Makefile
Makefile.defines
Makefile.defines_int
acconfig.h
aclocal.m4
autom4te.cache
autom4te-*.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
libtool
libtool-shared
ltconfig
ltmain.sh
stamp-h
stamp-h.in
*.o
*.lo
*.am
*.in
